# 1. Streamlining Excel File Preparation with the OS Module: Simplifying Data Preprocessing for Analysis

In [1]:
import os
import re
from time import sleep
import numpy as np
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
file_names = os.listdir()

As I stated, I can't show the file names because they contain the names of customers. Let's remove the file names that are not Excel.

In [3]:
'''A file whose name starts with ~$ is almost certainly a temporary file created by Excel when you open a workbook. 
For example, when you open a workbook named Products. xlsx, Excel will create a temporary file ~$Products. 
Therefore, we need to remove  excel files that start with "~$" from "file_names" list in order to prevent possible problems.'''
excel_file_names = []
for file in file_names:
    if file.startswith("~$"):
        continue
    if file.endswith(".xlsx"):
        excel_file_names.append(file)

In [4]:
len(excel_file_names)

176

There are a total of 176 Excel files, each representing a unique customer. Let's rename these excel files.

In [5]:
new_name = 1
excel_file_names_modified = []
for file in excel_file_names:
    name = f"{new_name}.xlsx"
    os.rename(file, name)
    excel_file_names_modified.append(name)
    new_name += 1

In [6]:
excel_file_names_modified

['1.xlsx',
 '2.xlsx',
 '3.xlsx',
 '4.xlsx',
 '5.xlsx',
 '6.xlsx',
 '7.xlsx',
 '8.xlsx',
 '9.xlsx',
 '10.xlsx',
 '11.xlsx',
 '12.xlsx',
 '13.xlsx',
 '14.xlsx',
 '15.xlsx',
 '16.xlsx',
 '17.xlsx',
 '18.xlsx',
 '19.xlsx',
 '20.xlsx',
 '21.xlsx',
 '22.xlsx',
 '23.xlsx',
 '24.xlsx',
 '25.xlsx',
 '26.xlsx',
 '27.xlsx',
 '28.xlsx',
 '29.xlsx',
 '30.xlsx',
 '31.xlsx',
 '32.xlsx',
 '33.xlsx',
 '34.xlsx',
 '35.xlsx',
 '36.xlsx',
 '37.xlsx',
 '38.xlsx',
 '39.xlsx',
 '40.xlsx',
 '41.xlsx',
 '42.xlsx',
 '43.xlsx',
 '44.xlsx',
 '45.xlsx',
 '46.xlsx',
 '47.xlsx',
 '48.xlsx',
 '49.xlsx',
 '50.xlsx',
 '51.xlsx',
 '52.xlsx',
 '53.xlsx',
 '54.xlsx',
 '55.xlsx',
 '56.xlsx',
 '57.xlsx',
 '58.xlsx',
 '59.xlsx',
 '60.xlsx',
 '61.xlsx',
 '62.xlsx',
 '63.xlsx',
 '64.xlsx',
 '65.xlsx',
 '66.xlsx',
 '67.xlsx',
 '68.xlsx',
 '69.xlsx',
 '70.xlsx',
 '71.xlsx',
 '72.xlsx',
 '73.xlsx',
 '74.xlsx',
 '75.xlsx',
 '76.xlsx',
 '77.xlsx',
 '78.xlsx',
 '79.xlsx',
 '80.xlsx',
 '81.xlsx',
 '82.xlsx',
 '83.xlsx',
 '84.xlsx',
 '85.xlsx',
 '86.xlsx',
 '87.xlsx',
 '88.xlsx',
 '89.xlsx',
 '90.xlsx',
 '91.xlsx',
 '92.xlsx',
 '93.xlsx',
 '94.xlsx',
 '95.xlsx',
 '96.xlsx',
 '97.xlsx',
 '98.xlsx',
 '99.xlsx',
 '100.xlsx',
 '101.xlsx',
 '102.xlsx',
 '103.xlsx',
 '104.xlsx',
 '105.xlsx',
 '106.xlsx',
 '107.xlsx',
 '108.xlsx',
 '109.xlsx',
 '110.xlsx',
 '111.xlsx',
 '112.xlsx',
 '113.xlsx',
 '114.xlsx',
 '115.xlsx',
 '116.xlsx',
 '117.xlsx',
 '118.xlsx',
 '119.xlsx',
 '120.xlsx',
 '121.xlsx',
 '122.xlsx',
 '123.xlsx',
 '124.xlsx',
 '125.xlsx',
 '126.xlsx',
 '127.xlsx',
 '128.xlsx',
 '129.xlsx',
 '130.xlsx',
 '131.xlsx',
 '132.xlsx',
 '133.xlsx',
 '134.xlsx',
 '135.xlsx',
 '136.xlsx',
 '137.xlsx',
 '138.xlsx',
 '139.xlsx',
 '140.xlsx',
 '141.xlsx',
 '142.xlsx',
 '143.xlsx',
 '144.xlsx',
 '145.xlsx',
 '146.xlsx',
 '147.xlsx',
 '148.xlsx',
 '149.xlsx',
 '150.xlsx',
 '151.xlsx',
 '152.xlsx',
 '153.xlsx',
 '154.xlsx',
 '155.xlsx',
 '156.xlsx',
 '157.xlsx',
 '158.xlsx',
 '159.xlsx',
 '160.xlsx',
 '161.xlsx',
 '162.xlsx',
 '163.xlsx',
 '164.xlsx',
 '165.xlsx',
 '166.xlsx',
 '167.xlsx',
 '168.xlsx',
 '169.xlsx',
 '170.xlsx',
 '171.xlsx',
 '172.xlsx',
 '173.xlsx',
 '174.xlsx',
 '175.xlsx',
 '176.xlsx']

# 2. Efficient DateTime Extraction: Uncovering Dates from Excel Files

In [7]:
df = pd.read_excel("1.xlsx")

In [8]:
print(df.iloc[24, 1])

25/08/2020 - Dolum Yapıldı
25/08/2021 - Bakım
25/08/2022 - Dolum

Fortunately, the desired dates can be extracted from the 24th row and 2nd column of every Excel file. Due to privacy concerns, I am unable to display the contents of the other rows and columns.

In Turkish, 'dolum' means filling, and 'bakım' means maintenance. However, this information is not essential for our purposes. Once the notification is received, the customer's name can be easily found in the written file, eliminating the need to specify whether the dates are for maintenance or filling. The hand-written file is always checked for reference.

### 2.1 Using Regular Expressions to Create a Pattern for Efficient Data Processing

In [9]:
pattern = re.compile(r"\d{1,2}/\d{1,2}/\d{4}|\d{1,2}[.]\d{1,2}[.]\d{4}")

In [10]:
today = datetime.today()
today = pd.to_datetime(today, dayfirst=True)

In [11]:
def find_and_convert_dates(file_name, text):
    
    try:
        dates_converted = []
        dates = re.findall(pattern, text)
        
        if dates == []:
            
            return [file_name, pd.NaT, 0, 0]
        
        for date in dates:
            if "/" in date:
                date = pd.to_datetime(date,format= "%d/%m/%Y",
                                      dayfirst=True)
                dates_converted.append(date)
            else:
                date = pd.to_datetime(date,format= "%d.%m.%Y",
                                      dayfirst=True)
                dates_converted.append(date)
        
        if max(dates_converted) < today: 
            date_final = max(dates_converted) + relativedelta(years=1)
            while True:
                if date_final > today:
                    break
                else:
                    date_final += relativedelta(years=1)
            
        else:
            date_final = min([date for date in dates_converted if date > today])
                
        ''' In this scenario, we aim to obtain the date that is either the closest future 
            date to the current date or, if no future date exists, the latest date available.
            If the latest date is selected, we increment it by one year until it surpasses the current date.'''
            


        num_of_int = len(re.findall(r"\d",text))
        ''' Checking number of integers to compare if there is more integers
            in the text than in the dates. If there is an imbalance, we have to 
            check the specific excel file.
        '''

        num_of_int_in_dates = 0
        for date in dates:
            num_of_int_in_dates += len(re.findall(r"\d",date))


        dif = num_of_int - num_of_int_in_dates
        ''' We have to keep records of differences between the total
            number of integers and number of integers in the date/s.'''
        
        return [file_name, date_final, dif, 0]
    
    except Exception as e:
        
        return [file_name, 0, 0, e]

The function takes a text and excel file name as input and returns a list with four items. The first item indicates the name of the Excel file. The second item represents the date found in the text. If a date is not found, it will be represented as NaT (not a time), indicating the absence of a valid date. The rest of the items will be assigned as "0" in this case. If dates are found in the file, the function will consider the latest date. The third item indicates the presence of additional numbers in the text apart from the dates. If there are additional numbers, it specifies the count of such numbers. The last item indicates the presence of an error during the execution of the function. If an error occurs, the second and third items in the list will be assigned as "0", and the error message will be stored in the last item.

To summarize:

- First item: Name of the Excel file.
- Second item: Latest date found in the text or NaT if no date is found. Rest of the items will be "0" if no date is found.
- Third item: Count of additional numbers found apart from the dates, or 0 if no additional numbers are present.
- Last item: Error message if an error occurs during execution, or 0 if no error is encountered.

The code uses regular expressions (re) and pandas (pd) to find and convert dates in a given text. It defines a pattern that captures four date formats: "dd/mm/yyyy", "dd.mm.yyyy", "d/m/yyyy", and "d.m.yyyy". The function find_and_convert_dates finds all date occurrences using the pattern and converts them to pandas DateTime objects.

### 2.2 Extracting Dates

In [12]:
columns = ["file_name", "the_latest_date", "the_difference", "error_type"]
values = []

for file in excel_file_names_modified:
    print(file)
    df = pd.read_excel(file)
    text = df.iloc[24, 1]
    value = find_and_convert_dates(file, text)
    values.append(value)

1.xlsx
2.xlsx
3.xlsx
4.xlsx
5.xlsx
6.xlsx
7.xlsx
8.xlsx
9.xlsx
10.xlsx
11.xlsx
12.xlsx
13.xlsx
14.xlsx
15.xlsx
16.xlsx
17.xlsx
18.xlsx
19.xlsx
20.xlsx
21.xlsx
22.xlsx
23.xlsx
24.xlsx
25.xlsx
26.xlsx
27.xlsx
28.xlsx
29.xlsx
30.xlsx
31.xlsx
32.xlsx
33.xlsx
34.xlsx
35.xlsx
36.xlsx
37.xlsx
38.xlsx
39.xlsx
40.xlsx
41.xlsx
42.xlsx
43.xlsx
44.xlsx
45.xlsx
46.xlsx
47.xlsx
48.xlsx
49.xlsx
50.xlsx
51.xlsx
52.xlsx
53.xlsx
54.xlsx
55.xlsx
56.xlsx
57.xlsx
58.xlsx
59.xlsx
60.xlsx
61.xlsx
62.xlsx
63.xlsx
64.xlsx
65.xlsx
66.xlsx
67.xlsx
68.xlsx
69.xlsx
70.xlsx
71.xlsx
72.xlsx
73.xlsx
74.xlsx
75.xlsx
76.xlsx
77.xlsx
78.xlsx
79.xlsx
80.xlsx
81.xlsx
82.xlsx
83.xlsx
84.xlsx
85.xlsx
86.xlsx
87.xlsx
88.xlsx
89.xlsx
90.xlsx
91.xlsx
92.xlsx
93.xlsx
94.xlsx
95.xlsx
96.xlsx
97.xlsx
98.xlsx
99.xlsx
100.xlsx
101.xlsx
102.xlsx
103.xlsx
104.xlsx
105.xlsx
106.xlsx
107.xlsx
108.xlsx
109.xlsx
110.xlsx
111.xlsx
112.xlsx
113.xlsx
114.xlsx
115.xlsx
116.xlsx
117.xlsx
118.xlsx
119.xlsx
120.xlsx
121.xlsx
122.xlsx
123.xlsx
124.xlsx
125.xlsx
126.xlsx
127.xlsx
128.xlsx
129.xlsx
130.xlsx
131.xlsx
132.xlsx
133.xlsx
134.xlsx
135.xlsx
136.xlsx
137.xlsx
138.xlsx
139.xlsx
140.xlsx
141.xlsx
142.xlsx
143.xlsx
144.xlsx
145.xlsx
146.xlsx
147.xlsx
148.xlsx
149.xlsx
150.xlsx
151.xlsx
152.xlsx
153.xlsx
154.xlsx
155.xlsx
156.xlsx
157.xlsx
158.xlsx
159.xlsx
160.xlsx
161.xlsx
162.xlsx
163.xlsx
164.xlsx
165.xlsx
166.xlsx
167.xlsx
168.xlsx
169.xlsx
170.xlsx
171.xlsx
172.xlsx
173.xlsx
174.xlsx
175.xlsx
176.xlsx

In [13]:
merged_df = pd.DataFrame(values, columns=columns)
merged_df.head()

  file_name      the_latest_date  the_difference error_type
0    1.xlsx  2023-08-25 00:00:00               0          0
1    2.xlsx  2023-07-01 00:00:00               8          0
2    3.xlsx  2024-02-26 00:00:00               0          0
3    4.xlsx  2023-09-16 00:00:00               0          0
4    5.xlsx  2024-04-22 00:00:00               0          0

In [16]:
merged_df_upd = merged_df.set_index("file_name").copy()

In [17]:
merged_df_upd

,the_latest_date,the_difference,error_type
file_name,,,
1.xlsx,2023-08-25 00:00:00,0,0
2.xlsx,2023-07-01 00:00:00,8,0
3.xlsx,2024-02-26 00:00:00,0,0
4.xlsx,2023-09-16 00:00:00,0,0
5.xlsx,2024-04-22 00:00:00,0,0
...,...,...,...
172.xlsx,2023-08-03 00:00:00,0,0
173.xlsx,2023-06-24 00:00:00,0,0
174.xlsx,0,0,expected string or bytes-like object
175.xlsx,2023-10-01 00:00:00,0,0
176.xlsx,2024-02-05 00:00:00,0,0

# 3. Uncovering Insights through Data Exploration

In [18]:
len(merged_df_upd[merged_df_upd["the_latest_date"] == 0])

12

Due to the small quantity of only 12 files, we can perform a manual check as dates could not be extracted.

In [19]:
len(merged_df_upd[merged_df_upd["the_difference"] !=0])

22

Additionally, there are 22 Excel files containing unidentified numbers in addition to the extracted dates.

In [20]:
dates = merged_df_upd.loc[merged_df_upd["the_latest_date"] != 0, :]

In [21]:
dates[dates["the_latest_date"] < today]

Empty DataFrame
Columns: [the_latest_date, the_difference, error_type]
Index: []

Furthermore, the function has achieved success in converting outdated dates into current ones.

The process of maintaining and filling fire extinguishers follows a specific timeline. Maintenance is typically conducted one year after the initial sale, while filling is performed after a two-year interval. To bring the extinguishers up to date, we can systematically increment the outdated dates until they align with the current maintenance and filling requirements. Given the presence of written sources, such as records or documents, the exact nature of the date (whether it corresponds to maintenance or filling) does not need to be explicitly specified. The individuals involved in this process will refer to these written sources to ensure compliance with the appropriate maintenance and filling schedules after receiving the date notifications.

### 3.1 Managing Error-Prone Files

In [23]:
files_with_errors = list(merged_df_upd[merged_df_upd["the_latest_date"] == 0].index)
files_with_errors

['9.xlsx',
 '50.xlsx',
 '54.xlsx',
 '98.xlsx',
 '132.xlsx',
 '138.xlsx',
 '145.xlsx',
 '147.xlsx',
 '161.xlsx',
 '163.xlsx',
 '168.xlsx',
 '174.xlsx']

In [24]:
for file in files_with_errors:
    df = pd.read_excel(file)
    text = df.iloc[24, 1]
    print(f"File name: {file}\n\n",text, "\n\n")

File name: 9.xlsx

 nan


File name: 50.xlsx

 nan


File name: 54.xlsx

 nan


File name: 98.xlsx

 nan


File name: 132.xlsx

 nan


File name: 138.xlsx

 nan


File name: 145.xlsx

 nan


File name: 147.xlsx

 nan


File name: 161.xlsx

 nan


File name: 163.xlsx

 nan


File name: 168.xlsx

 nan


File name: 174.xlsx

 nan

In [25]:
print(files_with_errors)

['9.xlsx', '50.xlsx', '54.xlsx', '98.xlsx', '132.xlsx', '138.xlsx', '145.xlsx', '147.xlsx', '161.xlsx', '163.xlsx', '168.xlsx', '174.xlsx']

Upon manual inspection, it was observed that the dates within the 98th, 145th, and 168th Excel files are located in different sections compared to the rest of the files. Conversely, no dates were found within the 9th, 50th, 54th, 132nd, 138th, 147th, 161st, 163rd, and 174th Excel files.

In [26]:
files_temp = ['98.xlsx', '145.xlsx', '168.xlsx']
df = pd.read_excel(files_temp[0])
text = df.iloc[27, 1]
the_date = find_and_convert_dates(files_temp[0], text)
the_date

['98.xlsx', Timestamp('2024-04-01 00:00:00'), 0, 0]

In [32]:
merged_df_upd.loc["98.xlsx"] = the_date[1:]
merged_df_upd.loc["98.xlsx"]

the_latest_date    2024-04-01 00:00:00
the_difference                       0
error_type                           0
Name: 98.xlsx, dtype: object

In [33]:
df = pd.read_excel(files_temp[1])
text = df.iloc[30, 1]
text

'26.08.2021 DOLUM YAPILDI                                                                      26.02.2022 BAKIM                                                                                      26.08.2022 DOLUM'

In [34]:
the_date = find_and_convert_dates(files_temp[1], text)
the_date

['145.xlsx', Timestamp('2023-08-26 00:00:00'), 0, 0]

In [37]:
merged_df_upd.loc["145.xlsx"] = the_date[1:]
merged_df_upd.loc["145.xlsx"]

the_latest_date    2023-08-26 00:00:00
the_difference                       0
error_type                           0
Name: 145.xlsx, dtype: object

In [38]:
df = pd.read_excel(files_temp[2])
text = df.iloc[30, 1]

In [39]:
the_date = find_and_convert_dates(files_temp[2], text)
the_date

['168.xlsx', Timestamp('2023-06-10 00:00:00'), 6, 0]

In [43]:
merged_df_upd.loc["168.xlsx"] = the_date[1:]
merged_df_upd.loc["168.xlsx"]

the_latest_date    2023-06-10 00:00:00
the_difference                       6
error_type                           0
Name: 168.xlsx, dtype: object

In [44]:
no_info = merged_df_upd[merged_df_upd["error_type"]!=0]
no_info

,the_latest_date,the_difference,error_type
file_name,,,
9.xlsx,0,0,expected string or bytes-like object
50.xlsx,0,0,expected string or bytes-like object
54.xlsx,0,0,expected string or bytes-like object
132.xlsx,0,0,expected string or bytes-like object
138.xlsx,0,0,expected string or bytes-like object
147.xlsx,0,0,expected string or bytes-like object
161.xlsx,0,0,expected string or bytes-like object
163.xlsx,0,0,expected string or bytes-like object
174.xlsx,0,0,expected string or bytes-like object

Let's remove these files with no informations from "merged_df" and report these files to the company.

In [45]:
merged_df_upd2 = merged_df_upd[merged_df_upd["error_type"] == 0].copy()
merged_df_upd2

               the_latest_date  the_difference error_type
file_name
1.xlsx     2023-08-25 00:00:00               0          0
2.xlsx     2023-07-01 00:00:00               8          0
3.xlsx     2024-02-26 00:00:00               0          0
4.xlsx     2023-09-16 00:00:00               0          0
5.xlsx     2024-04-22 00:00:00               0          0
...                        ...             ...        ...
171.xlsx   2024-03-11 00:00:00               7          0
172.xlsx   2023-08-03 00:00:00               0          0
173.xlsx   2023-06-24 00:00:00               0          0
175.xlsx   2023-10-01 00:00:00               0          0
176.xlsx   2024-02-05 00:00:00               0          0

[167 rows x 3 columns]

We don't need error_type column anymore.

In [46]:
merged_df_upd2.drop("error_type",axis=1,inplace=True)

In [47]:
merged_df_upd2.head()

               the_latest_date  the_difference
file_name
1.xlsx     2023-08-25 00:00:00               0
2.xlsx     2023-07-01 00:00:00               8
3.xlsx     2024-02-26 00:00:00               0
4.xlsx     2023-09-16 00:00:00               0
5.xlsx     2024-04-22 00:00:00               0

### 3.2 Identifying Non-Date Numbers Within Text

In [49]:
file_names = merged_df_upd2[merged_df_upd2["the_difference"] != 0].index
file_names

Index(['2.xlsx', '16.xlsx', '17.xlsx', '42.xlsx', '64.xlsx', '65.xlsx',
       '70.xlsx', '73.xlsx', '80.xlsx', '84.xlsx', '85.xlsx', '122.xlsx',
       '123.xlsx', '125.xlsx', '126.xlsx', '135.xlsx', '146.xlsx', '148.xlsx',
       '155.xlsx', '165.xlsx', '167.xlsx', '168.xlsx', '171.xlsx'],
      dtype='object', name='file_name')

In [ ]:
for file in file_names:
    df = pd.read_excel(file)
    text = df.iloc[24, 1]
    print(f"File name: {file}\n\n",text, "\n\n")
    sleep(2)

In [51]:
date_122 = "01/06/2023"
date_122 = pd.to_datetime(date_122, dayfirst=True)
merged_df_upd2.loc["122.xlsx", "the_latest_date"] = date_122
merged_df_upd2.loc["122.xlsx"]

the_latest_date    2023-06-01 00:00:00
the_difference                      18
Name: 122.xlsx, dtype: object

In [54]:
merged_df_upd2.loc["125.xlsx", "the_latest_date"] = date_122
'''Same date with 122.xlsx file'''

'Same date with 122.xlsx file'

In [55]:
merged_df_upd2.loc["125.xlsx"]

the_latest_date    2023-06-01 00:00:00
the_difference                      22
Name: 125.xlsx, dtype: object

Using the provided code snippet, I was able to conveniently access the data. However, I am unable to share the actual data due to privacy concerns associated with the company. It is important to note that a significant portion of the text in the dataset contains information unrelated to dates, such as prices and quantities of goods. To ensure data accuracy, I manually corrected the date formats in Excel files 122, 125, as they were initially written in incorrect formats like mm/yyyy and dd\.mm/yyyy.

Now that we have resolved the issue of the extra numbers in the text, we can proceed to remove the "the_difference" column from the DataFrame merged_df_upd2.

In [58]:
merged_df_upd2.drop("the_difference", axis=1, inplace=True)

In [63]:
merged_df_upd2.head()

               the_latest_date
file_name
1.xlsx     2023-08-25 00:00:00
2.xlsx     2023-07-01 00:00:00
3.xlsx     2024-02-26 00:00:00
4.xlsx     2023-09-16 00:00:00
5.xlsx     2024-04-22 00:00:00

Let's update the column name "the_latest_date" to a more descriptive title, such as "Upcoming Date".

In [64]:
merged_df_upd2.rename(columns={"the_latest_date":"Upcoming Date"}, inplace=True)

In [65]:
merged_df_upd2.head()

                 Upcoming Date
file_name
1.xlsx     2023-08-25 00:00:00
2.xlsx     2023-07-01 00:00:00
3.xlsx     2024-02-26 00:00:00
4.xlsx     2023-09-16 00:00:00
5.xlsx     2024-04-22 00:00:00

# 4. Exporting DataFrame to a CSV File

In [66]:
merged_df_upd2.to_csv("final_table.csv", index=True)

In [70]:
df = pd.read_csv("final_table.csv",index_col="file_name")
df.head()

                 Upcoming Date
file_name
1.xlsx     2023-08-25 00:00:00
2.xlsx     2023-07-01 00:00:00
3.xlsx     2024-02-26 00:00:00
4.xlsx     2023-09-16 00:00:00
5.xlsx     2024-04-22 00:00:00